[Unit]
Description=Run MadelineProto Telegram Backup Verification weekly

[Timer]
OnCalendar=weekly
RandomizedDelaySec=2h
Persistent=true

[Install]
WantedBy=timers.target
